<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home page</title>
</head>
<body>
    <h5>WELCOME TO THE HOME PAGE</h5><hr>
    New here <a href="/register">Register</a>   <br>
    Already register <a href="/login">Login</a> <br>
</body>
</html>