<!DOCTYPE html> <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>login page</title>
    </head>
    <body>
        <h5>Welcome to login page</h5>
        <form action="/login" method="POST">
            Email :
            <input name="email" required type="email">
            Password :
            <input name="password" required type="password">
            <button type="submit">Submit</button>
        </form>

    </body>
</html>
